body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

button {
  transition: background-color 0.3s ease;
}

nav {
  background-color: #ff6347;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cooking-notes {
  background-image: url('../assets/background_cn.avif');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 300px;
}

.notes-list {
  list-style-type: decimal;
  padding: 0;
  margin: 2px auto 10px auto;
  max-width: 500px;
}

.notes-list li {
  font-size: 1.2em;
  margin-bottom: 20px;
  z-index: 0.5;
}

.home {
  position: relative;
  text-align: left;
  background-image: url('../assets/background_home.jpg');
  background-size: flex;
  background-position: center;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  padding: 375px;
}

.home h1{
  text-align: left;
}

h1 {
  font-size: 5em;
  margin-bottom: 20px;
  color: rgb(250, 250, 250);
  text-align: center;
}

p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #ff4500; /* Darker tomato */
}

.recipepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

ul, ol, li {
  color: white;
}

.aboutpage {
  background-image: url('../assets/background_abt.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  padding: 350px;
}
s
.cooking-notes {
  .aboutpage {
    background-image: url('../assets/background_cn.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1200px;
    max-height: 1200px;
    margin: 0 auto;
    padding: 350px;
  }
}

.aboutpage p{
  color: white;
  text-align: center;
  
}